.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-table {
  width: 90%;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

button {
  background: transparent;
  border: transparent;
  :hover {
    background: lightgray;
  }
}
